.DivStatsBase{
    width: 10vh;
    text-align: center;
}

.StatsBase{
    height: 6vh;
    width: 5vh;
    text-align: center;
    font-size: 3vh;
}

#todo {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    
}

.flex-container {
    display: flex; /* Espacio igual entre los fieldsets */
    align-items: flex-start; /* Alinea los fieldsets al inicio del contenedor */
}
label.salvacion-habilidades{
     /* Alinea los fieldsets al inicio del contenedor */
    top: 50%;
    display: flex;
    align-items: center;
}
fieldset{
    border: 2px solid #8F240D;
}
.dotes{
    display: flex;
    flex-direction: column;
}
select{
    width: 7vh;
}
button {
    margin-left: auto;
    
}
