.DivStatsBase{
    width: 10vh;
    text-align: center;
}

.StatsBase{
    height: 6vh;
    width: 5vh;
    text-align: center;
    font-size: 3vh;
}

#todo {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    
}

.flex-container {
    display: flex; /* Espacio igual entre los fieldsets */
    align-items: flex-start; /* Alinea los fieldsets al inicio del contenedor */
}
label.salvacion-habilidades{
     /* Alinea los fieldsets al inicio del contenedor */
    top: 50%;
    display: flex;
    align-items: center;
}
fieldset{
    border: 2px solid #8F240D;
}
.dotes{
    display: flex;
    flex-direction: column;
}
select{
    width: 7vh;
}
button {
    margin-left: auto;
    
}
.habilidad {
    border: 2px solid #8F240D;
    margin-top: 2vh;
}

fieldset#habilidades{
    max-height: 30vh;
    width: 70vh;
    overflow-y: auto;
}

textarea#nombre, #efecto, #daño, #coste{
    width: 100%;
}
textarea#nombre {
    border: 0px;
    font-size: 201;
}
#crearHabilidades {
    flex-direction: column;
}
.DivBonificador {
    width: 10vh;
}